name: Package Application with Pyinstaller

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        spec: build.py
        requirements: requirements.txt
        path: ./

    - uses: actions/upload-artifact@v2
      with:
        name: wme
        path: dist/windows
