name: Package Application - Mac OS

on: 
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
    mac-build:
      name: build Mac OS
  
      runs-on: macos-latest
  
      steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
        
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - name: git
        run: |
          # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
          git --version
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements.txt
      
      - name: pyinstaller build
        run: |
          python build.py
  
      - name: Create zip
        run: |
         mv ./dist ./wme-MacOS |
         zip -r ./wme-MacOS.zip ./wme-MacOS/

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
           name: "wme-mac-2.1.0 - ${{github.run_number}}"
           path: wme-MacOS.zip
